<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <title><%= pageTitle %> &#45; Task Manager</title>
  <link rel="stylesheet" type="text/css" href="/stylesheets/dashboard-styles.css">
</head>
<body>
  <div class="container">

    <div id="leftCol" class="col">
      
      <div id="profileContainer">
        <div>
          <img src="/images/profile-pic.jpeg">
          <span><%= username %></span>
        </div>
        <i class="fas fa-search"></i>
      </div>
      
      <div id="dueDateContainer" class="list-container">
        <div id="todaysDate">
          <span id="date"></span>
        </div>
        <div>
          <i class="fas fa-calendar"></i>
          <span>Today</span>
        </div>
        <div>
          <i class="fas fa-calendar-alt"></i>
          <span>Next 7 Days</span>
        </div>
        <div>
          <a href="/inbox" class="task-list-nav">
            <i class="fas fa-archive"></i>
            <span>Inbox</span>
          </a>
        </div>
      </div>
      
      <div id="createListsContainer" class="list-container">
        <div>
          <span>Lists</span>
        </div>
        <% taskLists.forEach((taskList) => { %>
        <% if (taskList.name === 'Inbox') return; %>
        <div>
          <a class="task-list-nav" href="<%= taskList.url %>">
            <i class="fas fa-bars"></i>
            <span data-id=<%= taskList._id %>><%= taskList.name %></span>
          </a>
        </div>
        <% }); %>
        <div id="addListButton">
          <i class="fas fa-plus-circle"></i>
          <span>Add List</span>          
        </div>
      </div>

      <div id="completedListsContainer" class="list-container">
        <div>
          <i class="fas fa-check-square"></i>
          <span>Completed</span>
        </div>
        <div>
          <i class="fas fa-trash"></i>
          <span>Trash</span>
        </div>
      </div>
    </div>

    <div id="centerCol" class="col">
      <h1 id="pageTitle"><%= pageTitle %></h1>
      <input type="text" name="createTask" id="createTask" placeholder="Add Task to &quot;<%= pageTitle %>&quot;">
      <ul id="taskContainer">
        <% tasks.forEach((task, i) => { %>
        <% if (i === 0) { %>
          <li class="active-task">
        <% } else { %>
          <li>
        <% } %>
            <i class="far fa-square"></i>
            <span><%= task.name %></span>
            <span class="ellipsis">&#8230;</span>
          </li>
        <% }); %>
        <!-- <li class="active-task">
          <i class="far fa-square"></i>
          <span contenteditable="true">New task</span>
          <span class="ellipsis">&#8230;</span>
        </li> -->
      </ul>
      <div id="siteIcon">
        <i class="fas fa-clipboard-list"></i>
        <p>Tap the input box to create some new tasks</p>
      </div>
    </div>

    <div id="rightCol" class="col">
    </div>

  </div>

  <div id="addListBox" class="is-paused fade-in toggle-box">
    <div class="list-box-header">
      <h2>Add List</h2>
      <span id="close" data-target="addListBox">&#10006;</span>
    </div>
    <input type="text" name="createList" id="createList" placeholder="List Name">
    <div class="toggle-buttons">
      <button class="btn btn-close" data-target="addListBox">Close</button>
      <button class="btn btn-save" disabled>Save</button>
    </div>
  </div>

  <div id="editTaskBox" class="is-paused fade-in toggle-box">
    <div class="list-box-header">
      <h2>Edit task box</h2>
      <span id="close" data-target="editTaskBox">&#10006;</span>
    </div>
    <div class="toggle-buttons">
      <button class="btn btn-close" data-target="editTaskBox">Close</button>
      <button class="btn btn-save" disabled>Save</button>
    </div>
  </div>

<script type="text/javascript" src="/javascripts/dashboard-script.js"></script>
</body>
</html>