<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <title><%= pageTitle %> &#45; Task Manager</title>
  <link rel="stylesheet" type="text/css" href="/stylesheets/dashboard-styles.css">
</head>
<body>
  <div class="container">

    <div class="col left">
      
      <div id="profileContainer">
        <div>
          <img src="/images/profile-pic.jpeg">
          <span><%= username %></span>
        </div>
        <i class="fas fa-search"></i>
      </div>
      
      <div id="dueDateContainer" class="list-container">
        <div class="todays-date">
          <span id="date"></span>
        </div>
        <div>
          <i class="fas fa-calendar"></i>
          <span>Today</span>
        </div>
        <div>
          <i class="fas fa-calendar-alt"></i>
          <span>Next 7 Days</span>
        </div>
        <div>
          <a href="/inbox" class="task-list-nav">
            <i class="fas fa-archive"></i>
            <span>Inbox</span>
          </a>
        </div>
      </div>
      
      <div class="create-lists-container list-container">
        <div>
          <span>Lists</span>
        </div>
        <% tasks.forEach((task) => { %>
        <% if (task.name === 'Inbox') return; %>
        <div>
          <a class="task-list-nav" href="<%= task.pageUrl %>">
            <i class="fas fa-bars"></i>
            <span><%= task.name %></span>
          </a>
        </div>
        <% }); %>
        <div id="addListButton">
          <i class="fas fa-plus-circle"></i>
          <span>Add List</span>          
        </div>
      </div>

      <div class="completed-lists-container list-container">
        <div>
          <i class="fas fa-check-square"></i>
          <span>Completed</span>
        </div>
        <div>
          <i class="fas fa-trash"></i>
          <span>Trash</span>
        </div>
      </div>
    </div>

    <div class="col center">
      <h1 id="pageTitle"><%= pageTitle %></h1>
      <input type="text" name="createTask" id="createTask" placeholder="Add Task to &quot;<%= pageTitle %>&quot;">
      <ul id="taskContainer">
        <!-- <li class="active-task">
          <i class="far fa-square"></i>
          <span contenteditable="true">New task</span>
          <span class="ellipsis">&#8230;</span>
        </li> -->
      </ul>
      <div id="siteIcon">
        <i class="fas fa-clipboard-list"></i>
        <p>Tap the input box to create some new tasks</p>
      </div>
    </div>

    <div class="col right">
    </div>

  </div>

  <div id="addListBox" class="is-paused fade-in toggle-box">
    <div class="list-box-header">
      <h2>Add List</h2>
      <span id="close" data-target="addListBox">&#10006;</span>
    </div>
    <input type="text" name="createList" id="createList" placeholder="List Name">
    <div class="toggle-buttons">
      <button class="btn btn-close" data-target="addListBox">Close</button>
      <button class="btn btn-save" disabled>Save</button>
    </div>
  </div>

  <div id="editTaskBox" class="is-paused fade-in toggle-box">
    <div class="list-box-header">
      <h2>Edit task box</h2>
      <span id="close" data-target="editTaskBox">&#10006;</span>
    </div>
    <div class="toggle-buttons">
      <button class="btn btn-close" data-target="editTaskBox">Close</button>
      <button class="btn btn-save" disabled>Save</button>
    </div>
  </div>

<script type="text/javascript" src="/javascripts/dashboard-script.js"></script>
</body>
</html>