<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <title><%= pageTitle %> &#45; Task Manager</title>
  <link rel="stylesheet" type="text/css" href="/stylesheets/dashboard-styles.css">
</head>
<body>
  <div class="container">

    <div id="leftCol" class="col">
      
      <div id="profileContainer">
        <div>
          <img src="/images/profile-pic.jpeg">
          <span><%= username %></span>
        </div>
        <i class="fas fa-search"></i>
      </div>

      <div id="taskListNavContainer" class="list-container">
          
        <div id="todaysDate">
          <span id="date"></span>
        </div>
        
        <div class="task-list-nav-item">
          <a href="/today" class="task-list-nav">
            <i class="fas fa-calendar"></i>
            <span>Today</span>
          </a>
        </div>
        
        <div class="task-list-nav-item">
          <a href="/week" class="task-list-nav">
            <i class="fas fa-calendar-alt"></i>
            <span>Next 7 Days</span>
          </a>
        </div>

        <div class="task-list-nav-item">
          <a href="/inbox" class="task-list-nav">
            <i class="fas fa-archive"></i>
            <span>Inbox</span>
          </a>
        </div>
          
        <div id="listsHeading">
          <span>Lists</span>
        </div>
        
        <% taskLists.forEach((taskList) => { %>
        <% if (taskList.name === 'Inbox') return; %>
        
          <div class="task-list-nav-item">
            <a class="task-list-nav" href="<%= taskList.url %>">
              <i class="fas fa-bars"></i>
              <span data-id=<%= taskList._id %>><%= taskList.name %></span>
            </a>
            <span class="ellipsis hidden" data-target="<%= pageTitle %>">&#8230;</span>
          </div>
        
        <% }); %>

        <div id="addListButton">
          <i class="fas fa-plus-circle"></i>
          <span>Add List</span>          
        </div>
        
        <div class="task-list-nav-item">
          <a href="/completed" class="task-list-nav">
            <i class="fas fa-check-square"></i>
            <span>Completed</span>
          </a>
        </div>
        
        <div class="task-list-nav-item">
          <a href="/trash" class="task-list-nav">
            <i class="fas fa-trash"></i>
            <span>Trash</span>
          </a>
        </div>

      </div> <!-- end #taskListNavContainer -->
    
    </div> <!-- end #leftCol -->

    <div id="centerCol" class="col">
      
      <div class="page-title-container">

        <h1 id="pageTitle"><%= pageTitle %></h1>

      <% const hideEllip = [ 'Inbox', 'Today', 'Week', 'Trash', 'Completed' ] %>

      <% if (hideEllip.indexOf(pageTitle) !== -1) { %>
        <span class="ellipsis hidden" data-target="<%= pageTitle %>">&#8230;</span>
      <% } else { %>
        <span class="ellipsis" data-target="<%= pageTitle %>">&#8230;</span>
      <% } %>

        <span class="hidden" id="clearTrash"><i class="fas fa-dumpster"></i></span>
      
      </div>

      <% if (pageTitle === 'Trash' || pageTitle === 'Completed') { %>
        <input class="hidden" type="text" name="createTask" id="createTask" placeholder="Add Task to &quot;<%= pageTitle %>&quot;">
      <% } else { %>
        <input type="text" name="createTask" id="createTask" placeholder="Add Task to &quot;<%= pageTitle %>&quot;">
      <% } %>
      
      <ul id="incompleteTaskContainer" class="task-container">
        <% tasks.forEach((task, i) => { %>
          <% if (task.completed) return; %>
            <li>
              <i class="far fa-square"></i>
              <span contenteditable="true"><%= task.name %></span>
              <span class="ellipsis">&#8230;</span>
            </li>
        <% }); %>
      </ul>

      <% if (tasks.find(task => task.completed)) { %>
        <div id="completedTaskToggle">
      <% } else { %>
        <div id="completedTaskToggle" class="hidden">
      <% } %>

          <i class="fas fa-caret-down"></i>
          <span>Completed</span>
        </div>
      
      <ul id="completedTaskContainer" class="task-container">
        <% tasks.forEach((task) => { %>
          <% if (task.completed) { %>
            <li>
              <i class="fas fa-check-square"></i>
              <span contenteditable="true"><%= task.name %></span>
              <span class="ellipsis">&#8230;</span>
            </li>
          <% } %>
        <% }); %>
      </ul>
      
    <% if (!tasks.length) { %>
      <div id="siteIcon">
    <% } else { %>
      <div id="siteIcon" class="hidden">
    <% } %>

        <i class="fas fa-clipboard-list"></i>
        <% if (pageTitle === 'Trash') { %>
          <p>No deleted tasks yet</p>
        <% } else if (pageTitle === 'Completed')  { %>
          <p>No completed tasks yet</p>
        <% } else { %>
          <p>Tap the input box to create some new tasks</p>
        <% } %>

      </div>
    
    </div> <!-- end #centerCol -->

    <div id="rightCol" class="col">
    </div>

  </div> <!-- end .container -->

  <div id="addListDialogBox" class="is-paused fade-in toggle-box">
    <div class="list-box-header">
      <h2>Add List</h2>
      <span id="close" data-target="addListDialogBox">&#10006;</span>
    </div>
    <input type="text" name="createList" id="createList" placeholder="List Name">
    <div class="toggle-buttons">
      <button class="btn btn-close" data-target="addListDialogBox">Close</button>
      <button class="btn btn-save" disabled>Save</button>
    </div>
  </div>

  <div id="editTaskDialogBox" class="is-paused fade-in toggle-box">
    <div class="list-box-header">
      <h2>Edit Task</h2>
      <span id="close" data-target="editTaskDialogBox">&#10006;</span>
    </div>
    <div class="toggle-buttons">
      <button class="btn btn-close" data-target="editTaskDialogBox">Close</button>
      <button class="btn btn-delete">Delete</button>
    </div>
  </div>

  <div id="deleteTaskDialogBox" class="is-paused fade-in toggle-box">
    <div class="list-box-header">
      <h2>Clear Trash</h2>
      <span id="close" data-target="deleteTaskDialogBox">&#10006;</span>
    </div>
    <div class="toggle-buttons">
      <button class="btn btn-close" data-target="deleteTaskDialogBox">Close</button>
      <button class="btn btn-delete">Delete</button>
    </div>
  </div>

  <div id="editTaskListDialogBox" class="is-paused fade-in toggle-box">
    <div class="list-box-header">
      <h2>Edit Task List</h2>
      <span id="close" data-target="editTaskListDialogBox">&#10006;</span>
    </div>
    <div class="toggle-buttons">
      <button class="btn btn-close" data-target="editTaskListDialogBox">Close</button>
      <button class="btn btn-delete">Delete</button>
    </div>
  </div>

<script type="module" src="/javascripts/dashboard-script.js"></script>
</body>
</html>