<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <title><%= pageTitle %> &#45; Task Manager</title>
  <link rel="stylesheet" type="text/css" href="/stylesheets/dashboard-styles.css">
</head>
<body>
  <div class="container">

    <div id="leftCol" class="col">
      
      <div id="profileContainer">
        <div>
          <img src="/images/profile-pic.jpeg">
          <span><%= username %></span>
        </div>
        <i class="fas fa-search"></i>
      </div>

      <div id="taskListNavContainer" class="list-container">
          
        <div id="todaysDate">
          <span id="date"></span>
        </div>
        
        <div class="task-list-nav-item">
          <a href="/today" class="task-list-nav">
            <i class="fas fa-calendar"></i>
            <span data-task-list-name="Today">Today</span>
          </a>
        </div>
        
        <div class="task-list-nav-item">
          <a href="/week" class="task-list-nav">
            <i class="fas fa-calendar-alt"></i>
            <span data-task-list-name="Week">Next 7 Days</span>
          </a>
        </div>

        <div class="task-list-nav-item">
          <a href="/inbox" class="task-list-nav">
            <i class="fas fa-archive"></i>
            <span data-task-list-name="Inbox">Inbox</span>
            <span class="num-tasks"><%= findIncompleteTasks('Inbox').length || '' %></span>
          </a>
        </div>
          
        <div id="listsHeading">
          <span>Lists</span>
        </div>
        
        <% taskLists.forEach((taskList) => { %>
        <% if (defaultTaskLists.indexOf(taskList.name) !== -1) return; %>
        
          <div class="task-list-nav-item user-created-task-list">
            <a class="task-list-nav" href="<%= taskList.url %>">
              <i class="fas fa-bars"></i>
              <span data-id="<%= taskList._id %>" data-task-list-name="<%= taskList.name %>" ><%= taskList.name %></span>
            </a>
            <span class="num-tasks"><%= findIncompleteTasks(taskList.name).length || '' %></span>
            <span class="ellipsis hidden" data-trigger-open="editTaskListDialogBox" data-target="<%= taskList.name %>">&#8230;</span>
          </div>
        
        <% }); %>

        <div id="addListButton" data-trigger-open="addListDialogBox" class="task-list-nav-item">
          <i class="fas fa-plus-circle"></i>
          <span>Add List</span>          
        </div>
        
        <div class="task-list-nav-item">
          <a href="/completed" class="task-list-nav">
            <i class="fas fa-check-square"></i>
            <span data-task-list-name="Completed">Completed</span>
            <% const completedTaskList = taskLists.find(taskList => taskList.name === 'Completed'); %>
            <span class="num-tasks"><%= completedTaskList.tasks.length || '' %></span>
          </a>
        </div>
        
        <div class="task-list-nav-item">
          <a href="/trash" class="task-list-nav">
            <i class="fas fa-trash"></i>
            <span data-task-list-name="Trash">Trash</span>
            <% const trashTaskList = taskLists.find(taskList => taskList.name === 'Trash'); %>
            <span class="num-tasks"><%= trashTaskList.tasks.length || '' %></span>
          </a>
        </div>

      </div> <!-- end #taskListNavContainer -->
    
    </div> <!-- end #leftCol -->

    <div id="centerCol" class="col">
      
      <div class="page-title-container">

        <h1 id="pageTitle"><%= pageTitle %></h1>

      <% if (defaultTaskLists.indexOf(pageTitle) !== -1) { %>
        <span class="ellipsis hidden" data-trigger-open="editTaskListDialogBox" data-target="<%= pageTitle %>">&#8230;</span>
      <% } else { %>
        <span class="ellipsis" data-trigger-open="editTaskListDialogBox" data-target="<%= pageTitle %>">&#8230;</span>
      <% } %>

      <% if (pageTitle === 'Trash') { %>
        <span id="dumpsterIcon"><i class="fas fa-dumpster"></i></span>
      <% } else { %>
        <span class="hidden" id="dumpsterIcon"><i class="fas fa-dumpster"></i></span>
      <% } %>
      
      </div>

      <% if (pageTitle === 'Trash' || pageTitle === 'Completed') { %>
        <input class="hidden" type="text" name="createTask" id="createTask" placeholder="Add Task to &quot;<%= pageTitle %>&quot;">
      <% } else { %>
        <input type="text" name="createTask" id="createTask" placeholder="Add Task to &quot;<%= pageTitle %>&quot;">
      <% } %>
      
      <ul id="incompleteTaskContainer" class="task-container">
        <% tasks.forEach(task => { %>
          <% if (task.completed) return; %>
            <li>
              <i class="far fa-square"></i>
              <span contenteditable="true"><%= task.name %></span>
              <span class="ellipsis task-ellipsis" data-trigger-open="editTaskDialogBox">&#8230;</span>
            </li>
        <% }); %>
      </ul>

      <% if (tasks.find(task => task.completed)) { %>
        <div id="completedTaskToggle">
      <% } else { %>
        <div id="completedTaskToggle" class="hidden">
      <% } %>

          <i class="fas fa-caret-down"></i>
          <span>Completed</span>
        </div>
      
      <ul id="completedTaskContainer" class="task-container">
        <% tasks.forEach((task) => { %>
          <% if (task.completed) { %>
            <li>
              <i class="fas fa-check-square"></i>
              <span contenteditable="true"><%= task.name %></span>
              <span class="ellipsis" data-trigger-open="editTaskDialogBox">&#8230;</span>
            </li>
          <% } %>
        <% }); %>
      </ul>
      
    <% if (!tasks.length) { %>
      <div id="siteIcon">
    <% } else { %>
      <div id="siteIcon" class="hidden">
    <% } %>

        <i class="fas fa-clipboard-list"></i>
        <% if (pageTitle === 'Trash') { %>
          <p>No deleted tasks yet</p>
        <% } else if (pageTitle === 'Completed')  { %>
          <p>No completed tasks yet</p>
        <% } else { %>
          <p>Tap the input box to create some new tasks</p>
        <% } %>

      </div>
    
    </div> <!-- end #centerCol -->

    <div id="rightCol" class="col">
    </div>

  </div> <!-- end .container -->

  <div id="addListDialogBox" class="is-paused fade-in toggle-box">
    <div class="list-box-header">
      <h2>Add List</h2>
      <span id="close" data-trigger-close="addListDialogBox">&#10006;</span>
    </div>
    <input type="text" name="createList" id="createList" placeholder="List Name">
    <div class="toggle-buttons">
      <button class="btn btn-close" data-trigger-close="addListDialogBox">Close</button>
      <button class="btn btn-save" disabled>Save</button>
    </div>
  </div>

  <div id="editTaskDialogBox" class="is-paused fade-in toggle-box edit-box">
    <ul>
      <li>
        <a href="#" class="calendar-trigger"><i class="fas fa-calendar-day"></i></a>
        <a href="#" class="calendar-trigger"><i class="fas fa-calendar-plus"></i></a>
        <a href="#" class="calendar-trigger"><i class="fas fa-calendar-week"></i></a>
        <a href="#" class="calendar-trigger" data-trigger-open="calendarDialogBox"><i class="fas fa-calendar-alt"></i></a>
        <a href="#"><i class="fas fa-trash"></i>Delete Task</a>
      </li>
    </ul>
  </div>

  <div id="clearTrashDialogBox" class="is-paused fade-in toggle-box">
    <div class="list-box-header">
      <h2>Clear Trash</h2>
      <span id="close" data-trigger-close="clearTrashDialogBox">&#10006;</span>
    </div>
    <div>
      <p>Tasks will be permanently deleted, are you sure you want to clear the trash?</p>
    </div>
    <div class="toggle-buttons">
      <button class="btn btn-close" data-trigger-close="clearTrashDialogBox">Close</button>
      <button class="btn btn-delete">Delete</button>
    </div>
  </div>

  <div id="editTaskListDialogBox" class="is-paused fade-in toggle-box edit-box">
    <ul>
      <li>
        <a href="#"><i class="fas fa-trash"></i>Delete List</a>
      </li>
    </ul>
  </div>

  <div id="calendarDialogBox" class="is-paused fade-in toggle-box edit-box">
  <!-- <div id="calendarDialogBox" class="toggle-box edit-box" style="display:block;"> -->
    <div class="list-box-header">
      <h2>Calendar</h2>
      <span id="close" data-trigger-close="calendarDialogBox">&#10006;</span>
    </div>
    <div id="calendar">
      <div id="calendarNav">
        <i class="fas fa-angle-left"></i>
        <span>Februrary</span> <span>2020</span>
        <i class="fas fa-angle-right"></i>
      </div>
      <table>
          <thead>
              <tr>
                  <th>Su</th>
                  <th>Mo</th>
                  <th>Tu</th>
                  <th>We</th>
                  <th>Th</th>
                  <th>Fr</th>
                  <th>Sa</th>
              </tr>
          </thead>
          <tbody>
          
          </tbody>
      </table>
    </div>
    <div class="toggle-buttons">
      <button class="btn btn-close" data-trigger-close="calendarDialogBox">Close</button>
      <button class="btn btn-save" disabled>Save</button>
    </div>
  </div>

<script type="module" src="/javascripts/dashboard-script.js"></script>
</body>
</html>